.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.logo{
  width: 45%;
  margin-bottom: 0.8rem;
  margin-top: 2.2rem;
  background-size:100% 100%
}

.box{
  width: 92%;
  .row{
    width: 100%;
    margin-top:0.4rem 

  }
}

    .code{
      width: 80%;
      height: 0.6rem 
    }

.register{
  margin-top:0.4rem;
  width: 90%;
}