.login {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  .loginText{
    padding: 1rem 0 0.8rem 0;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    .goBack {
      display: inline-block;
      width: 0.33rem;
      height: 0.46rem;
      position: absolute;
      left: 0.2rem;
      top: 0.2rem;
      background: url("../../../images/login_back.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
  .content{
    padding: 0.2rem 0.3rem 0.4rem 0.3rem;
    background: #ffffff;
    .item{
      padding-top: 0.1rem;
      width: 100%;
      span{
        display: inline-block;
        vertical-align: bottom;
        height: 0.6rem;
        width: 23%;
        text-align: left;
        font-size: 1.4em;
        color: #a9a9a9;
        font{
          color: #ff0000;
          vertical-align: sub;
        }
      }
      input{
        display: inline-block;
        vertical-align: bottom;
        width: 70%;
        height: 0.6rem;
        outline: none;
        border: 0px;
        font-size: 2em;
      }
      .pwdBackLine{
        display: block;
        width: 100%;
        height: 0.4rem;
        background: url("../../../images/pwdBack_line.png") center center no-repeat;
        background-size: 100%;
      }
    }
  }
  .submit{
    width: 100%;
    padding-top: 0.8rem;
    .button{
      width: 75%;
      font-size: 1.4em;
      height: 0.8rem;
      line-height: 0.8rem;
      border-radius: 1.2rem;
      background: #66cc66;
      text-align: center;
      margin: 0 auto;
      color: #ffffff;
    }
    .pwdBack{
      width: 85%;
      text-align: right;
      padding: 0.5rem 0;
      a{
        text-decoration: underline;
        font-size: 1.2em;
        color: #0000ff;
      }
    }
  }
}