.subject{
  width: 100%;
  padding-bottom: 3rem;
  .subject2{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #e1ad01;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject2_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #e1ad01;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject2_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject3{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #ffdd00;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject3_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #fb565d;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject3_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject4{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #feae00;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #feae00;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject4_JBg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #70d1fe;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #70d1fe;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject4_mBg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject5{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #ffffff;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject5_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #ffffff;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #ffffff;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject5_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject6{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #B6CF1E;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #B6CF1E;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject6_1bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      background: #b6cf1c;
      .imgTop{
        width: 100%;
        background: #b6cf1c;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #b6cf1c;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject6_2bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject7{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #cdedf8;
        img{
          width: 100%;
        }
      }
      .imgBottom{
        width: 100%;
        background: #68cff0;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        //position: absolute;
        //top: 32%;
        background: #cdedf8;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject7_1bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        background: #cdedf8;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        //position: absolute;
        //top: 32%;
        background: #cdedf8;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject7_2bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }

  .subject8{
    width: 100%;
    .xiaoxue{
      width: 100%;
      background: #01c3b8;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #01c3b8;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject8_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      background: #01c3b8;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        background: #01c3b8;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject8_bg.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject9{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: -7px;
        background: #83c3df;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject9_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      background: #83c3df;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: -7px;
        background: #83c3df;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject9_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject10{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: 20px;
        background: #83c3df;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject10_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: 20px;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject10_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject11{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: 20px;
        background: #83c3df;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject10_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: 20px;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject10_1video.jpg) no-repeat;
          background-size: cover;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 9px;
            padding-top: 6px;
          }
        }
      }
    }
  }
  .subject12{
    width: 100%;
    .xiaoxue{
      width: 100%;
      .imgTop1{
        width: 6.4rem;
        background: url(../../../images/subject12top.jpg) no-repeat;
        background-size: 100% 100%;
        height: 1.29rem;
      }
      .imgTop2{
        width: 100%;
        background: url(../../../images/subject12con.jpg) no-repeat;
        background-size: 100% 100%;
        height: 58.86rem;
      }
      .studyVideo{
        width: 100%;
        margin-top: 0.2rem;
        background: #83c3df;
        margin-bottom: -1px;
        .videoBg{
          width: 6.226rem;
          height: 4.176rem;
          margin: 0 auto;
          background: url(../../../images/subject12_bg.jpg) no-repeat;
          background-size: 100% 100%;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 18px;
            padding-top: 7px;
          }
        }
      }
    }
    .zhongxue{
      width: 100%;
      .imgTop1{
        width: 100%;
        background: url(../../../images/subject12top.jpg) no-repeat;
        background-size: 100% 100%;
        height: 1.29rem;
      }
      .imgTop2{
        width: 100%;
        background: url(../../../images/subject12hcon.jpg) no-repeat;
        background-size: 100% 100%;
        height: 58.86rem;
      }
      .studyVideo{
        width: 100%;
        height: 196px;
        margin-top: 20px;
        margin-bottom: -1px;
        .videoBg{
          width: 314px;
          height: 196px;
          margin: 0 auto;
          background: url(../../../images/subject12_bg.jpg) no-repeat;
          background-size: 100% 100%;
          .video{
            width: 100%;
            margin: 0 auto;
            padding-left: 18px;
            padding-top: 7px;
          }
        }
      }
    }
  }
}