.changePwd{
  width: 100%;
  background: #ffffff;
  .content{
    padding: 1.8rem 0.3rem 0.6rem 0.3rem;
    font-size: 1.2em;
    .item{
      width: 100%;
      span{
        display: inline-block;
        width: 33%;
        padding-right:0.2rem;
        text-align: right;
        color: #a9a9a9;
        font{
          color: #ff0000;
          vertical-align: sub;
        }
      }
      input{
        display: inline-block;
        width: 60%;
        outline: none;
        border: 1px solid #ddd;
        height: 0.6rem;
        text-indent: 0.2em;
      }
      .pwdBackLine{
        display: block;
        width: 100%;
        height: 0.5rem;
        background: url("../../../images/pwdBack_line.png") center center no-repeat;
        background-size: 100%;
      }
    }
  }
  .submit{
    width: 100%;
    text-align: center;
    .button{
      width: 80%;
      display: inline-block;
      height: 0.8rem;
      border: 0px solid #ddd;
      line-height: 0.8rem;
      border-radius: 0.8rem;
      background: #66cc66;
      text-align: center;
      color: #ffffff;
    }
    .pwdBack{
      width: 85%;
      text-align: right;
      padding: 0.3rem 0;
      a{
        text-decoration: underline;
        font-size: 1.2em;
        color: #0000ff;
      }
    }
  }
}