.box{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 1rem;
  background-color: #FFF;
}
.row{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom:0.2rem
}
.leftIcon{
  width: 0.42rem;
  height: auto;
  margin:0 0.3rem;
}
.iconName{
  font-size: 0.32rem;
  width: 25%;
  margin-left: 4%;
  color: #1a1a1a;
}

::-webkit-input-placeholder{
  color: #ccc;
  font-weight: 200;
}

.input{
  font-size: 0.32rem;
  width: 57%;
  border: none;
  outline: none;
  height: 0.6rem;
}

.code{
  width: 45%;
  text-align: right;
}